div{
    width: 800px;
    border-radius: 5px;
    border: 2px solid ;
    padding: 20px;
    color: darkslategrey;
    background-color: azure;
    font-size: 20px;
}
.output{
    width: 350px;
    word-spacing: 10px;
    text-align: center;
}
h1{
    text-shadow: -10px -5px 15px black;
}
h2{
    text-decoration: underline;
}
.output:hover {
    color:white;
    background-color: black;
    border-radius: 17px;

}
#header{
    text-align:justify;
}